__pycache__/
*.py[cod]
*.log
node_modules/

build/
releases/
tmp-*/
screen_recordings/
decode_state/
reconstructed_project/
qr-video-out/
wheels-linux/
wheels-windows/

*.mp4
*.avi
*.mov
*.mkv
*.png
*.zip
*.jar
*.AppImage
*.exe

!electron-shell/assets/*.png
!electron-shell/assets/*.ico
